
h2.about {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
     font-weight: bold;
    color: rgb(247, 247, 247);
    text-align: center;
    text-decoration: underline;
}

h2.education {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: bold;
    color: rgb(248, 254, 255);
    text-align: center;
    text-decoration: underline;
}



.coding h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: underline;
}

.education {
    color: rgb(177, 215, 248);
    font-size: 24px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

p {
    color: rgb(177, 215, 248);
    font-size: 24px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.socials li {
    color: rgb(177, 215, 248);
    font-size: 24px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;     
}

a[href*='sign-up']{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a.signup:hover {
    color: chocolate;
}

a[href*='sign-up']{
    color: rgb(33, 187, 136);
}



a[href*='linkedin'],
    a[href*='github'] {
        font-weight: bold;
        color: rgb(231, 248, 132);
        font-family: Georgia, 'Times New Roman', Times, serif;
    }


.codelist li{
    color: rgb(177, 215, 248);
    font-size: 24px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;    
}

.image {
    height: 100%;
    width: 1920;
    background-image: url('https://i.ibb.co/0YQRLVd/gradienta-b-KESVqfxass-unsplash.jpg');
    padding: 7%;
    background-size: cover;
    background-position: center;
}

.footer {
    background-image: url('https://i.ibb.co/c8tW2Tv/pngkey-com-blue-background-png-6200528.png');
    background-size: 100% 100%;
    width: 99%;
    height: 350px;
}

#thoughts {
    text-align: left;
}

h2.borders{
    border: 2px outset rgb(69, 240, 188);
    border-radius: 15px;
    padding: 7px;                       /* To set the corners of the borders a little bit roundish or oval */
}

.rate li {
    height: 50px;
}

.share {
    border: 1px solid LightGrey;
    padding: 20px 0px;
    position: relative;
    text-align: center;
    width: 100%;
  }

  .share a {
    background: red;
    border: 1px solid red;
    border-radius: 3px;
    color: white;
    display: inline-block;
    margin: 10px;
    padding: 14px;
    text-decoration: none;
  }

  .share a:hover {
    background: rgb(255, 251, 20);
    border: 1px solid red;
    color: red;
  }

  footer {
      border: 2px solid red;
      overflow: scroll;
  }

